body {
  font-size: 14px;
  width:100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bd0d00;
  height: 420px;
  position: -webkit-sticky; /* Safari */
 /* position: sticky;*/
  top: 0;
  border-top:15px Solid #111;
 
}

li {
 float: left;
  width: 25%;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 16px;
  text-decoration: none;
  height: 140px;

}

li a:hover {
  background-color: #111;
  height: 140px;
  border-bottom:10px Solid #fff; 
  display: block;  
}

.active {
  background-color: #4CAF50;
  height: 200px;
}

* {
  box-sizing: border-box;
}


/* Header/Blog Title */
.header {
  padding: 30px;
  margin-top: 10px;
  margin-bottom:10px;
  text-align: center;
  background: white;
}

.Banner {   
  width: 100%;
  height: 400px;
}
/*dronp down content*/

